.footer 
    min-height: 80px
    &__devider 
        height: 6px
        width: 400px 
        border-radius: 3px 
        background-color: $main-color 
        margin: 0 auto
    &__wrapper 
        display: flex
        justify-content: space-between
    &__social 
        display: flex
        justify-content: space-between
        width: 400 
        a 
            img
                width: 40px 
                height: 40px

    

