@media (max-width: 1170px) 
    .header
        &__wrapper
            padding: 10px 20px 0 20px
        &__phone
            font-size: 25px 
        &__menu 
            width: 500px
    .carousel
        &__inner
            width: 41%;
    .about
        &__wrapper 
            padding-top: 100px
        &__factory 
            img
                width: 495px
        &__title 
            padding: 0 10px 
        &__descr 
            font-size: 25px
            line-height: 28px
        &__subscr 
            font-size: 16px

@media ( max-width: 991px) 
    .header
        &__wrapper
            padding: 10px 10px 0 10px
        &__phone
            font-size: 20px 
        &__menu
            width: 400px
        &__menu-link 
            font-size: 20px
    .carousel
        &__inner
            width: 41%;
    .about
        &__wrapper 
            padding-top: 100px
        &__factory 
            img
                width: 495px
        &__title 
            padding: 0 10px 
        &__descr 
            font-size: 25px
            line-height: 28px
        &__subscr 
            font-size: 16px

    